---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TwoWorkflows from '../components/TwoWorkflows.astro';
import WhyBranch from '../components/WhyBranch.astro';
import LocalAndOAuth from '../components/LocalAndOAuth.astro';
import StyleAndReferences from '../components/StyleAndReferences.astro';
import InstallFooter from '../components/InstallFooter.astro';
import FAQ from '../components/FAQ.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <TwoWorkflows />
    <WhyBranch />
    <LocalAndOAuth />
    <StyleAndReferences />
    <InstallFooter />
    <FAQ />
  </main>
  <SiteFooter />
</Base>
